.topBanner{
    width: auto;
    height: 20%;
    border: solid black 1px;
    background-image: url(images/banner2.jpg);
    background-size: 100% 100%;
}

.topBanner h1{
   color: lightgray;
   font-weight: bold;
   text-decoration: underline;
   font-size: 50px;
   font-style: Merriweather;
   margin-left: 5%;
   margin-bottom: 0px;
   padding-bottom: 0;

} 

.topBanner p{
    color: lightgray;
    font-style: Merriweather;
    margin-left: 5%;
    align-self: top;
    margin-top: 0px;
 } 

.sideNav{

    float: left;
     width: 200px;
     height: 80%;
    background-color: black;
    border: solid black 1px;
    color: lightgray;
    font-style: Merriweather;
}

.sideNav a{
    
    color: lightsteelblue;
    font-style: Merriweather;
}

.sideNav a{
    
    color: lightgray;
    font-style: Merriweather;
    font-weight: bold;
    font-size: 20px;
}


.sideNav li{
    margin-bottom: 10px;

}


.slidenaveright{

    float: right;
     width: 200px;
     height: 80%;
    background-color: black;
    border: solid black 1px;
}


.content{  
    width: auto;
    height: 80%;
    border: solid black 1px;
    background-color: black;
    overflow: hidden;
}

.content .SlidePhoto  img{
    object-fit: contain;
    width: 100%; 
    height: 100%;
}

* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .content {
    position: relative;
  }
  
  /* Hide the images by default */
  .SlidePhoto {
    display: none;
  }
  
  /* Next & back buttons */
  .back,
  .next {
    object-fit: contain;
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .back:hover,
  .next:hover {
    background-color: black;
  }

  .bottom-right {
    position: absolute;
    font-style: italic;
    bottom: 8px;
    right: 20%;
  }