.topBanner{
    width: auto;
    height: 20%;
    border: solid black 1px;
    background-image: url(images/banner2.jpg);
    background-size: 100% 100%;
}

.topBanner h1{
   color: lightgray;
   font-weight: bold;
   text-decoration: underline;
   font-size: 50px;
   font-style: Merriweather;
   margin-left: 5%;
   margin-bottom: 0px;
   padding-bottom: 0;

} 

.topBanner p{
    color: lightgray;
    font-style: Merriweather;
    margin-left: 5%;
    align-self: top;
    margin-top: 0px;
 } 

.sideNav{

    float: left;
     width: 200px;
     height: 80%;
    background-color: black;
    border: solid black 1px;
    color: lightgray;
    font-style: Merriweather;
}

.sideNav a{
    
    color: lightsteelblue;
    font-style: Merriweather;
}

.sideNav a{
    
    color: lightgray;
    font-style: Merriweather;
    font-weight: bold;
    font-size: 20px;
}


.sideNav li{
    margin-bottom: 10px;

}


.slidenaveright{

    float: right;
     width: 200px;
     height: 80%;
    background-color: black;
    border: solid black 1px;
}


.content{  
    width: auto;
    height: 80%;
    border: solid black 1px;
    background-color: black;
}


.trip{
    display: none;
    visibility: visible;
}

.iten{
    float: left;
    width: 30%;
    height: 50%;
    border: solid black 1px;
    overflow: scroll;
    background-color: whitesmoke;
}

.iten table {
    width: 100%;


}

.iten table,  td {
    border: solid black 2px;
    font-size: 14px;
    background-color: lightgray;

}

.iten  th {
    border: solid black 6px;
    font-size: 20px;
    background-color: grey;

}


.links{
    background-color: black;
    border: solid black 1px;
    height: 50%;
    margin-right: 32%;

}

.dwnld button{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: darkgreen;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.title{
    height: 30%;
    object-fit: contain;
    background-repeat: no-repeat;
    margin-right: 32%;
}


.links{
    list-style: square inside;
    font-weight: bolder;
    font-size: 18px;
    color: ivory;
}